%p
  %b User:
  = @city.user.email
%p
  %b Name:
  = @city.name
%p
  %b State:
  = @city.state
%p
  %b Country:
  = @city.country
%p
  %b Zip code:
  = @city.zip_code

= link_to 'Edit', edit_city_path(@city)
\|
= link_to 'Back', cities_path
